.button {
    /* Layout */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Sizing & Spacing */
    padding: 12px 26px;
    font-size: 16px;
    height: 46px;
    width: fit-content;

    /* Effects */
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    cursor: pointer;
}

.primary {
    /* Primary button styles */
    background-color: var(--primary-900);
    border: 1px solid var(--primary-900);
    color: var(--background-50);
}
.secondary {
    /* Secondary button styles */
    background-color: transparent;
    border: 1px solid var(--primary-900);
    color: var(--text-950);
}
.glass {
    /* Glass button styles */
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    color: var(--text-950);
    border: 1px solid var(--primary-900);
}

.square {
    /* Square button styles */
    border-radius: 0;
}
.rounded {
    /* Rounded button styles */
    border-radius: 8px;
}
.circle {
    /* Circle button styles */
    border-radius: 50%;
    padding: 0;
}
