.timeline {
    position: relative;
    border-left: 1px solid var(--text-950);
    color: var(--text-950);
    max-width: 600px;
    margin: 0 30px;
}

.timelineItem {
    position: relative;
    margin-bottom: 2rem;
}

.timelineDot {
    position: absolute;
    top: 0.4rem;
    left: -8px;
    width: 15px;
    height: 15px;
    border: 1px solid var(--text-950);
    background: var(--background-50);
    border-radius: 50%;
}

.timelineContent {
    padding-left: 2rem;
}

.timelineContent h3 {
    margin: 0;
}

.timelineContent p {
    margin: 0.2rem 0 0.5rem;
}

.timelineContent p,
.timelineContent li {
    font-size: 0.8em;
    color: var(--text-800);
}

.timelineContent li {
    list-style-type: disc;
}

.timelineDate {
    font-size: 0.6em;
    color: var(--text-600);
}

.now {
    position: relative;
    left: 10px;
    top: 20px;
}
