.timeline {
    max-width: 100%;
    padding-bottom: 20px;
    margin-top: 80px;
}

.now {
    margin: 20px 0 10px 10px;
    line-height: 1;
}

.timelineItems {
    max-width: 600px;
    margin: 0 30px;
    border-left: 1px solid var(--text-950);
    color: var(--text-950);
}

.timelineItem {
    position: relative;
    margin-bottom: 2rem;
}

.timelineDot {
    position: absolute;
    top: 0.4rem;
    left: -8px;
    width: 15px;
    height: 15px;
    background: var(--background-50);
    border: 1px solid var(--text-950);
    border-radius: 50%;
}

.timelineContent {
    padding-left: 2rem;
}

.timelineContent h3 {
    margin: 0;
}

.timelineContent p {
    margin: 0.2rem 0 0.5rem;
    font-size: 0.8em;
    color: var(--text-800);
    font-style: italic;
}

.timelineContent li {
    font-size: 0.8em;
    color: var(--text-800);
    list-style-type: disc;
}

.timelineDate {
    font-size: 0.6em;
    color: var(--text-600);
}
