.container {
    height: 100%;
    width: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 100px;
}

.title {
    font-size: 72px;
    font-weight: 300;
    letter-spacing: -2px;
    margin-bottom: 120px;
}

.nav {
    min-width: 180px;
    position: relative;
    padding-left: 48px;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.nav::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 1px;
    background: var(--background-900);
}

.line {
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    background: var(--background-200);
    transition: height 0.5s;
}

.navItem {
    text-align: left;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: opacity 0.3s;
    color: var(--text-900);
}

.navItem h3 {
    font-size: 18px;
    font-weight: 400;
    margin: 4px 0 0 0;
}

.year {
    font-family: monospace;
    font-size: 14px;
    letter-spacing: 1px;
}

.current {
    font-family: monospace;
    font-size: 14px;
    letter-spacing: 1px;
    margin-top: 24px;
}

.detail {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: space-between;
}

.date {
    font-family: monospace;
    font-size: 14px;
    letter-spacing: 1px;
    color: var(--text-900);
    display: block;
    margin-bottom: 24px;
}

.detail h2 {
    font-size: 42px;
    font-weight: 300;
    line-height: 1.2;
    margin: 0;
}

.detail p {
    font-style: italic;
    text-transform: lowercase;
    font-size: 18px;
    color: var(--text-900);
    line-height: 1.6;
    padding: 0;
    margin-top: 12px;
    margin-bottom: 24px;
    opacity: 0.8;
}

.detail ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.detail li {
    color: var(--text-900);
    padding-left: 20px;
    position: relative;
}

.detail li::before {
    content: "-";
    position: absolute;
    left: 0;
    top: -6px;
    font-size: 24px;
    font-weight: 100;
}

.buttons {
    display: flex;
    align-items: center;
    margin-top: 32px;
    gap: 32px;
}

.buttons button {
    font-family: monospace;
    font-size: 14px;
    letter-spacing: 1px;
    background: none;
    border: none;
    padding: 0;
    color: var(--text-900);
    cursor: pointer;
    transition: opacity 0.2s;
}

.buttons button:disabled {
    opacity: 0.2;
    cursor: not-allowed;
}

.buttons button:last-child {
    margin-left: auto;
}

.buttons span {
    font-family: monospace;
    font-size: 12px;
}

@media (max-width: 768px) {
    .container {
        padding: 24px;
        padding-top: 120px;
        height: auto;
        gap: 50px;
        flex-direction: column-reverse;
    }

    .grid {
        grid-template-columns: 1fr;
    }

    .nav {
        padding-left: 32px;
        gap: 22px;
        order: 2;
    }

    .detail {
        order: 1;
        height: auto;
        min-height: 300px;
    }

    .detail h2 {
        font-size: 28px;
    }

    .detail p {
        font-size: 16px;
    }

    .navItem h3 {
        font-size: 16px;
    }

    .buttons {
        gap: 16px;
    }

    .buttons button {
        font-size: 12px;
    }

    .buttons span {
        font-size: 11px;
    }
}
