body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-50);
    color: var(--text-950);
}

div {
    box-sizing: border-box;
}
