@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body,
html,
#root {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

body {
    background-color: var(--background-50);
    color: var(--text-950);
    font-family: "Geist", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#root {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: auto;
}

#application {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: calc(100% - 550px);
    height: 100%;
    font-size: 18px;
}

div {
    box-sizing: border-box;
}

code {
    max-width: 100%;
}

pre:has(code) {
    overflow: auto;
    max-width: 100%;
    padding: 10px;
    font-size: 16px;
}

code,
pre {
    font-family: "Courier New", Courier, monospace;
    background-color: var(--background-100);
    border-radius: 5px;
}

pre {
    margin: 1em 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.markdownFile {
    max-width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
}

.markdownFile img {
    max-width: 100%;
    width: auto;
}

a:visited,
a:link {
    color: var(--text-500);
}

@media (max-width: 1100px) {
    #application {
        padding-top: 0px;
        width: calc(100% - 60px);
        font-size: 16px;
    }
    .markdownFile {
        padding-top: 80px;
    }
    pre:has(code) {
        font-size: 13px;
    }
}
