.navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    z-index: 1000;
    padding: 20px 30px;
}

.navigationLink a {
    font-size: 30px;
    text-decoration: none;
    color: var(--text-950);
}

.activeLink {
    border-bottom: 1px solid var(--text-950);
}
